body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

#controls {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 32px;
    background-color: #f6f6fe;
    border-radius: 8px;
    margin-bottom: 16px;
}

input {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px 72px;
    text-align: center;
    transition: border 300ms ease-in-out;
    outline: none;
}

input:hover,
input:focus,
input:active {
    border: 1px solid #000;
}

#controls button:first-of-type {
    display: block;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    margin: 0;
}

#controls button[data-create]:hover,
#controls button[data-create]:focus {
    background-color: #6c8cff;
}

#controls button[data-create] {
    display: block;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    margin: 0;
}

#controls button[data-create]:hover,
#controls button[data-create]:focus {
    background-color: #6c8cff;
}

#controls button[data-destroy] {
    display: block;
    border-radius: 8px;
    padding: 8px 27px;
    border: none;
    background-color: #ff4e4e;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    margin: 0;
}

#controls button[data-destroy]:hover,
#controls button[data-destroy]:focus {
    background-color: #ff7070;
}

#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    border-radius: 8px;
    padding: 32px;
    background-color: #f6f6fe;
}