.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0 150px;
    list-style-type: none;
}

.gallery-item {
}

.gallery-img {
    display: block;
    max-width: 360px;
    height: 300px;
}